* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 159, 209);

}

                            /*ENCABEZADO*/
header {
    border-bottom: 3px solid black;
    
    height: 310px;
    background-color: white;
    
}
.logo {
    border-radius: 50%;
}

                            /*ENCABEZADO*/

                             /*NAVEGADOR*/
.logo_h1 {
    display: flex;
    flex-direction: column-reverse;
}



a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.active {
    text-decoration: underline double;
}

a:hover {
    text-decoration: underline double;
}

                            /*NAVEGADOR*/


                            /* MAIN */
main {
    margin: 20px;
    padding: 20px;
}

.contenedor {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
  
}

.caja1 {
    grid-column: 1/4;
    text-align: center;
    background-color: antiquewhite;
}
.caja2 {
    grid-column:1/1;
    text-align: center;
    background-color: red;
}
.caja3 {
    grid-column: 2/4;
    text-align: center;
    background-color: rgb(235, 231, 42);

}
.caja4 {
    grid-column: 1/4;
    text-align: center;
    background-color: aqua;
}

.sobremih1 {
text-align: center;
text-decoration: underline double;
}


                              /* MAIN */
                           
                              /*ubicacion*/

.areax {
    margin: 20px;
    border: 4px solid #333;
    border-radius: 10px;
}

.predio {
    display: block;
    width: 100%;
    height: auto;
}
                              /*ubicacion*/

                           /*formulario*/
form {
    margin-top: 20px;    margin-left: 528px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

                            
input[type="text"],
textarea {
    display: block;
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="email"],
textarea {
    display: block;
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.botones {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

                            /*formulario*/

                            /*VISTA TABLET*/
@media  (max-width: 768px) {
    .caja1 {
        color: rgb(255, 255, 255); background-color: black;
    }
    .caja2 {
        color: aqua; background-color: yellow;
    }
    .caja3 {
        color: rgb(248, 234, 42); background-color: rgb(250, 250, 247);
    }
    .caja4 {
        color: rgb(248, 248, 248); background-color: rgb(7, 7, 7);
    }
    footer {
        display: grid;
        grid-column: 2fr;
    }
}
@media (max-width: 420px) {
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr fr;
        grid-template-areas: 
        "caja1"
        "caja2"
        "caja3"
        "caja4";
    }
}
